In [2]:
# importing libraries
import pandas as pd
import numpy as np

## Exercicio MTEch dia 2

Este é o segundo de três exercícios práticos que serão disponibilizados durante o
MTEch 2021.

Durante a mudança para um novo local maior e mais bem equipado, o Abrigo Animal de Bloomington perdeu sua planilha de análise de dados que um antigo funcionário criou e agora só tem a base bruta, contendo diversas informações sobre seus animais, que são também os mais fofos do planeta!

Você deve então importar a base dados nesse [Link](https://drive.google.com/file/d/1-GEnjZfD9Wc_aar-Tsnl3qdrCMpYL-4Y/view) para ajudar o abrigo a recuperar suas
análises, encontrando:

- Quais são as espécies de animais do abrigo e quantos são.
- Quantos são machos e quantos são fêmeas.
- Qual a idade média dos gatos (Cats).
- Qual o animal mais velho
- Quantos vira-latas caramelo (basecolour = Brown) com mais de 5 anos o abrigo
possui

In [9]:
# exploring dataset
df = pd.read_csv('Saving animal-data-1.csv')
display(df.head())
display(df.info())

      id           intakedate intakereason  ...  diedoffshelter puttosleep isdoa
0  15801  2009-11-28 00:00:00       Moving  ...               0          0     0
1  15932  2009-12-08 00:00:00       Moving  ...               0          0     0
2  28859  2012-08-10 00:00:00    Abandoned  ...               0          0     0
3  30812  2013-01-11 00:00:00    Abandoned  ...               0          0     0
4  30812  2013-01-11 00:00:00    Abandoned  ...               0          0     0

[5 rows x 23 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10290 entries, 0 to 10289
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                10290 non-null  int64
 1   intakedate        10290 non-null  object
 2   intakereason      10288 non-null  object
 3   istransfer        10290 non-null  int64
 4   sheltercode       10290 non-null  object
 5   identichipnumber  8324 non-null   object
 6   animalname        10290 non-null  object
 7   breedname         10245 non-null  object
 8   basecolour        10290 non-null  object
 9   speciesname       10290 non-null  object
 10  animalage         10277 non-null  float64
 11  sexname           10290 non-null  object
 12  location          10290 non-null  object
 13  movementdate      10290 non-null  object
 14  movementtype      10290 non-null  object
 15  istrial           10289 non-null  float64
 16  returndate        3256 non-null   object
 17  returnedreason    10290 non-null  object
 18  deceaseddate      326 non-null    object
 19  deceasedreason    10290 non-null  object
 20  diedoffshelter    10290 non-null  int64
 21  puttosleep        10290 non-null  int64
 22  isdoa             10290 non-null  int64
dtypes: float64(2), int64(5), object(16)
memory usage: 1.8+ MB

None

In [31]:
# which species and how many animals from each specie
species = df['speciesname'].value_counts()
species

Cat             5749
Dog             3900
House Rabbit     218
Rat              130
Guinea Pig        93
Bird              38
Livestock         18
Hamster           17
Hedgehog          15
Mouse             13
Gerbil            12
Pig               11
Ferret            11
Chicken           10
Snake              8
Lizard             7
Wildlife           7
Fish               6
Opossum            6
Goat               5
Sugar Glider       5
Turtle             4
Chinchilla         2
Tortoise           2
Raccoon            1
Squirrel           1
Tarantula          1
Name: speciesname, dtype: int64

In [26]:
# how many males and females
num_males = df.loc[df['sexname'] == 'Male']['sexname'].count()
num_females = df.loc[df['sexname'] == 'Female']['sexname'].count()

print(f'{num_males} machos e {num_females} fêmeas.')

5086 machos e 4968 fêmeas

In [30]:
# mean age of cats
cats_mean_age = df.loc[df['speciesname'] == 'Cat']['animalage'].mean()
print(f'Os gatos tês em media {round(cats_mean_age, 2)} anos.')

Os gatos tês em media 6.8 anos

In [49]:
# oldest animal
oldest_animal_age = df['animalage'].max()
print(f'O animal mais velho tem {oldest_animal_age} anos.')

oldest_animals = list(df.loc[df['animalage'] == oldest_animal]['animalname'].values)
print(f'Animais mais velhos: {oldest_animals}')

O animal mais velho tem 100.6 anos.
Animais mais velhos: ['Pop', 'Yertle']

In [65]:
# how many brown dogs with more than 5 years
older_brown_dogs = df.loc[(df['basecolour'] == 'Brown') & (df['animalage'] >= 5) & (df['speciesname'] == 'Dog')]

print(f'São {len(older_brown_dogs)} vira-latas caramelo no abrigo.')

São 69 vira-latas caramelo no abrigo.